<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 segment-one">
          <h3>Falena</h3>
          <p>La tienda online Falena los invita a descubrir sus colecciones de renombrados autores y escritores independientes a los fanaticos de la lectura y a quienes quieran leer su primer libro. No dudes en consultarnos cualquier inquietud! 
            Aceptamos todas las tarjetas de crédito, Mercado Pago y PayPal.

          </p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 segment-two">
          <h2>Navegacion</h2>
          <ul>
            <li><a href="#">Géneros</a></li>
            <li><a href="#">Recomendados</a></li>
            <li><a href="#">Novedades</a></li>
            <li><a href="#">Independientes</a></li>
            <li><a href="#">Más vendidos</a></li>
            <li><a href="#">Autores</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 segment-three">
          <h2>Seguinos</h2>
          <p>Podes encontrarnos en nuestras redes sociales</p>
          <a href="#"></a><i class="fab fa-facebook-f"></i></a>
          <a href="#"></a><i class="fab fa-twitter"></i></a>
          <a href="#"></a><i class="fab fa-instagram"></i></a>
          <a href="#"></a><i class="fab fa-pinterest"></i></a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 segment-four">
          <h2>Newslatter</h2>
          <p>¡Suscribite y recibí todas nuestras novedades!</p>
          <form action="">
            <input type="email">
            <input type="submit" value="suscribe">
          </form>
        </div>
      </div>
    </div>
  </div>
  <p class="footer-bottom-text">Todos los derechos reservados &copy;Falena.2020</p>
</footer>



<!--scripts de bootstrap-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js "
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj "
  crossorigin="anonymous "></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo "
  crossorigin="anonymous "></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js "
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI "
  crossorigin="anonymous "></script>