<footer class="container-fluid footer-body"> 

    <div class="container footer-main">

        <div class="row footer-footer">

          <div class="col-12 col-md-4 footer-info1">
            <h2>MEDIOS DE PAGO</h2>
            <div class="footer-tarjetas">
              <img src="/images/img-visa.png" alt="">
              <img src="/images/img-mastercard.png" alt="">
              <img src="/images/img-american-express.png" alt="">
              <img src="/images/img-discover.png" alt="">
          </div> <!-- FIN FOOTER-TARJETAS -->
          <h2>NAVEGACION</h2>
           <div class="footer-nav2">
            <ul>
              <li><a href="">Géneros</a></li>
              <li><a href="">Recomendados</a></li>
              <li><a href="">Novedades</a></li>
              <li><a href="">Independientes</a></li>
              <li><a href="">Más Vendidos</a></li>
              <li><a href="">Autores</a></li>
            </ul>
          </div> <!-- FIN FOOTER-NAV2-->
          </div>  <!-- FIN COL FOOTER-INFO1-->



          <div class="col-12 col-md-4 footer-info2">

            <h2>NEWSLETTER</h2>
            <div class="footer-newsletter">
            <form action="" name="">
              <label for="newsletter">¡Suscribite y recibí todas nuestras novedades!</label>
              <input type="e-mail" name="newsletter" placeholder="  Email" id="">
              <button><i class="fas fa-envelope"></i></button>
            </form>
            </div> <!-- FIN FOOTER-NEWSLETTER -->
            <h2>REDES SOCIALES</h2>
              <div class="footer-redes">
                <img src="/images/img-facebook-dark.png" alt="">
                  <img src="/images/img-instagram-dark.png" alt="">
                  <img src="/images/img-twitter-dark.png" alt="">
                  <img src="/images/img-pinterest-dark.png" alt="">
            </div> <!-- FIN FOOTER-REDES -->
          </div> <!-- FIN COL FOOTER-INFO2-->




          <div class="col-12 col-md-4 footer-info3">

            <h2 class="footer-seguridad">SEGURIDAD Y CERTIFICACIONES</h2>
            <div class="footer-qr">
              <img src="/images/img-qr.png" alt="">

            </div> <!-- FIN FOOTER-QR -->

            <h2>CONTACTANOS</h2>
            <div class="footer-contacto">
              <ul>
                <li><a href=""><i class="fas fa-envelope"></i></a></li>
                <li><a href=""><i class="fas fa-map"></i></a></li>
              </ul>
            </div> <!-- FIN FOOTER-CONTACTO -->

          </div> <!-- FIN COL FOOTER-INFO3 -->

        </div> <!-- FIN DE ROW-->

      </div> <!-- FIN FOOTER-MAIN -->

  </footer>