<footer>
    <div class="container-fluid">
      <div class="container footer-background">
        <div class="row">
          <div class="col-4 footer-col1">
            <div class="footer-tarjetas"><h2>MEDIOS DE PAGO</h2>
            <ul>
              <li><img src="/images/img-visa.png" alt=""></li>
              <li><img src="/images/img-mastercard.png" alt=""></li>
              <li><img src="/images/img-american-express.png" alt=""></li>
              <li><img src="/images/img-discover.png" alt=""></li>
            </ul>
          </div>
           <div class="footer-nav2">
              <h2>NAVEGACION</h2>
            <ul>
              <li><a href="">Géneros</a></li>
              <li><a href="">Recomendados</a></li>
              <li><a href="">Novedades</a></li>
              <li><a href="">Independientes</a></li>
              <li><a href="">Más Vendidos</a></li>
              <li><a href="">Autores</a></li>
            </ul>
          </div>
          </div>
          <div class="col-4 footer-social">
            <div class="footer-newsletter">
              <h2>NEWSLETTER</h2>
            <form action="" name="">
              <label for="newsletter">¡Suscribite y recibí todas nuestras novedades!</label>
              <input type="e-mail" name="newsletter" placeholder="  Email" id="">
              <button><i class="fas fa-envelope"></i></button>
            </form>
            <div class="footer-redes">
            <h2>REDES SOCIALES</h2>
              <ul>
                <li><img src="/images/img-facebook-dark.png" alt=""></li>
                <li><img src="/images/img-instagram-dark.png" alt=""></li>
                <li><img src="/images/img-twitter-dark.png" alt=""></li>
                <li><img src="/images/img-pinterest-dark.png" alt=""></li>
              </ul>
            </div>
          </div>
          </div>
          <div class="col-4 footer-info">
            <div class="qr">
              <h2>Seguridad y certificaciones</h2>
              <img src="/images/img-qr.png" alt="">
            </div>
            <div class="footer-contacto">
              <h2>CONTACTANOS</h2>
              <ul>
                <li><a href=""><i class="fas fa-envelope"></i></a></li>
                <li><a href=""><i class="fas fa-map"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>