@import "style.css";

/* FAVS */
.cart-body button{
    background-color: var(--color-azul);
    color: white;
    border: none;
    margin: 5px 0 5px 0;
}

.cart-favs {
    display: flex;
}
.cart-favs button:last-child{
    margin-left: 15px;
}

.cart-tapa img {
    max-height: 140px;
}




.cart-cantidad {
    text-align: center;
}

.cart-cantidad input {
    width: 50px;
}



.cart-precio {
    text-align: center;
}

.cart-envio select, .cart-envio input, .cart-envio button{
    width: 100%;
}
.cart-descuentos input, .cart-descuentos button{
    width: 100%;
}
.cart-total {
    padding-bottom: 10px;
}

.cart-total button{
   width: 100%;
}

@media(min-width:1024px) {
    .cart-total {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
    }
    .cart-descuentos{
        padding-top: 45px;
        margin-bottom: 15px;
    }
    .cart-envio{
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    
}