@import "style.css";

/* FAVS */

.cart-body {
    padding-bottom: 10px;
}

.cart-body button {
    background-color: var(--color-azul);
    color: white;
    border: none;
    margin: 5px 0 5px 0;
}

.flex {
    display: flex;
    justify-content: center;
}

#cartBtn, #favBtn {
    margin-right: 10px;
    margin-left: 10px;
}

.cart-tapa img {
    max-height: 140px;
}

.cart-cantidad {
    text-align: center;
}

.cart-cantidad input {
    width: 50px;
    margin-right: 5px;
    text-align: center;
}

.cart-precio {
    text-align: center;
}

.cart-envio select,
.cart-envio input,
.cart-envio button {
    width: 100%;
}

.cart-descuentos input,
.cart-descuentos button {
    width: 100%;
}

.cart-total button {
    width: 100%;
}

@media(min-width:687px) {
    .cart-tapa img {
        margin-left: 25%;
    }
    .cart-options {
        text-align: center;
    }
    .cart-favs {
        justify-content: center;
    }
}

@media(min-width:1024px) {
    .cart-total {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
    }
    .cart-descuentos {
        padding-top: 88px;
    }
    .cart-envio {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
    }
    .cart-tapa img {
        max-height: 250px;
        margin-left: 25%;
    }
    .cart-options {
        text-align: center;
    }
    .cart-favs {
        justify-content: center;
    }
}