/* -------------------- FOOTER----------------------*/

p{
    color: #999;
    line-height: 25px;
}

.footer-top{
    background: var(--gray-dark);
    padding: 80px 0;
    color: #fff;
}
.footer-top h2{
    font-size: 18px;
}
.segment-one h3{
    font-family: Courgette;
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0;
}
.segment-two h2{
    color: #fff;
    text-transform: uppercase;
   
}
.segment-two h2::before{
    content: '|';
    color: var(--color-celeste);
    padding-right: 10px;
}
.segment-two ul{
    margin:0;
    padding: 0;
    list-style: none;
    
}
.segment-two ul li{
    border-bottom: 1px solid var(--color-marronClaro);
    line-height: 40px;
}
.segment-two ul li a{
    color: #999;
    text-decoration: none;
    
}
.segment-three h2{
    color: #fff;
    text-transform: uppercase;
    
}
.segment-three h2:before{
    content: '|';
    color: var(--color-celeste);
    padding-right: 10px;
}
.segment-three i{
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    font-size: 20px;
    margin: auto;
    color: var(--color-marronClaro);
    line-height: 40px;
    text-align: center;
    
}
.segment-four h2{
    color: #fff;
    text-transform: uppercase;
}
.segment-four h2:before{
    content: '|';
    color: var(--color-celeste);
    padding-right: 10px;
}
.segment-four form input[type=submit]{
    background: var(--color-celeste);
    border:none;
    padding: 3px 8px;
    margin-left: -5px;
    color:#fff;
}
.footer-bottom-text{
    text-align: center;
    background: var(--gray-dark);
    line-height: 75px;

}

/*------------RESPONSIVE CSS------------*/

/* ----- version para tablet (768px) ----- */

@media(min-width:768px){
    .segment-one h3{
        margin-bottom: 30px;
    }
    .segment-two h2{
        margin-top: 30px;
    }
    .segment-three h2{
        margin-top: 30px;
    }
    .segment-four h2{
        margin-top: 30px;
    }

    .footer-top{
        padding-bottom: 50px;
    }
    
}
/*------ version escritorio (1024px) -----*/

@media(min-width:1024px){

  
  }
  
/*------------------------FIN FOOTER-----------------------*/