/* 
----------------------------------------------------------------------------------------------------- FOOTER
*/

.footer-body {
    background-color: #666666;
}


/* INFO 1 */

.footer-info1 h2 {
    text-align: center;
}


/* TARJETAS */

.footer-info1 .footer-tarjetas {
    display: flex;
    justify-content: center;
}

.footer-info1 .footer-tarjetas img {
    max-height: 40px;
}


/* NAV2 */

.footer-info1 .footer-nav2 ul li {
    text-align: center;
    list-style-type: none;
    text-indent: -30px;
}

.footer-info1 .footer-nav2 ul li a {
    color: #111;
}


/* INFO 2 */

.footer-info2 h2 {
    text-align: center;
}


/* NESLETTER */

.footer-info2 .footer-newsletter label {
    text-align: center;
}

.footer-info2 .footer-newsletter form {
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer-info2 .footer-newsletter form input {
    width: 100%;
    position: relative;
}

.footer-info2 .footer-newsletter form button {
    position: absolute;
    background: none;
    border: none;
    right: 20px;
    top: 120px;
}


/* REDES */

.footer-redes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-info2 .footer-redes img {
    max-height: 40px;
}


/* INFO 3 */

.footer-info3 h2 {
    text-align: center;
}


/* QR */

.footer-info3 .footer-qr {
    display: flex;
    justify-content: center;
}


/* CONTACTO */

.footer-info3 .footer-contacto {
    display: flex;
    justify-content: center;
}

.footer-info3 .footer-contacto ul {
    display: flex;
}

.footer-info3 .footer-contacto ul li a i {
    color: #111;
    font-size: 30px;
    margin-right: 25px;
}



@media(min-width:768px){
    .footer-info3 .footer-qr img{
        max-height: 140px;
    }
    
    .footer-seguridad{
        font-size: 1.9rem;
    }
}

@media(min-width:1024px){

    
}

/* 
  ------------------------------------------------------------------------------------------------FIN FOOTER
  */