/* 
-------------------------------------------------------------------------------------------------------HEADER 
*/

/* 
INICIO OPCIONES DE USUARIO
*/
.header-body{
  padding-left: 0;
  padding-right: 0;
}
.header-user{
    background-color: var(--color-crudo);
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-user a{
    color: white;
  }
  .header-user a i{
    font-size: 25px;
  }
  .header-oculto{
    display: none;
  }
  .profile-picture{
    width: 25px;
  }
  /* 
  FIN OPCIONES USUARIO
  */
  
  /* 
  INICIO BANNER
  */
  
  .header-banner{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--color-marronClaro);
  }
  .header-banner a{
    color: white;
  }
  
  /* 
  LOGO
  */
  .header-banner .header-logo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }  
  .header-banner .header-logo img{  
    max-width: 100%;
  }
  
  /* 
  BARRA DE BUSQUEDA
  */
  
  .header-searchbox{
    position: relative;
    align-content: center;
  }
  .header-banner .header-searchbox form{
    padding-left: 15px;
    padding-right: 15px;
  }  
  .header-banner .header-searchbox form input{  
  margin-top: 25px;
  width: 100%;
  border: none;
  }
  .header-banner .header-searchbox form button{
    position: absolute;
    top: 27px;
    right: 33px;
    background: none;
    border: none;
  }
  /* 
  FIN BANNER
  */
  
  /* 
  INICIO HEADER
  */
  .header-favoritos{ 
    display: flex;
    margin-top: 20px;
  }
  
  .header-navbar{
    /* background-color: var(--color-marronOscuro); */
    padding: 1px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  

  .header-navbar li{
    text-align: center;
    list-style-type: none;
  }
  
  .header-navbar li a{
    color: black; /* cambiar a white */
  }
  .header-navbarActive{
    justify-content: center;
  }

  .header-navbarActive ul li a{
    text-align: center;
    list-style-type: none;
  }
  /* 
  ------------------------------------------------------------------------------------------------FIN HEADER
  */
  @media(min-width:768px){
    .header-favoritos{
      justify-content: center;
    }
}
@media(min-width:1024px){

  .header-favoritos{
    justify-content: center;
  }
  

}
/*
 .header-navbar li{
    border-right: 1px solid black;
  } 
  */