@import "style.css";

/* 
---------------------------------------------------------------REGISTER
*/

.register-body {
    margin-top: 30px; 
    margin-bottom: 30px;
}

.register-register {
    background-color: var(--color-marronOscuro);
    padding-top: 10px;
    border-radius: 15px 15px 0 0;
}
.register-register h2{
    display: block;
    text-align: center;
    color: var(--color-marronClaro);
}
.box input[type="text"],
.box input[type="number"],
.box input[type="email"],
.box input[type="password"]{
    color: white;
    background: none;
    border: 2px solid var(--color-azul);
    border-radius: 24px;
    margin: 20px auto;
    padding: 14px 10px;
    width: 50%;
    display: block;
    text-align: center;
    outline: none;
    transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="number"]:focus,
.box input[type="email"]:focus,
.box input[type="password"]:focus{
    border-color: var(--color-celeste);
    width: 75%;
    color: white;
}
.box input[type="text"]::placeholder,
.box input[type="number"]::placeholder,
.box input[type="email"]::placeholder,
.box input[type="password"]::placeholder{
    color: white;
    opacity: 0.8;
}


.box input[type="submit"] {
    border: 0;
    background: var(--color-celeste);
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid var(--color-azul);
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    width: 50%;
    font-size: 1.1rem;
    
}

.box input[type="submit"]:hover {
    background: var(--color-azul);
}

.register-media {
    background-color: var(--color-marronOscuro);
    color: var(--color-crudo);
}

.register-media h5 {
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

.register-media img {
    max-height: 75px;
}

.register-media ul {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-left: 0px;
}

.register-login {
    background-color: var(--color-marronOscuro);
    color: var(--color-crudo);
    border-radius: 0 0 15px 15px;
}

.register-login h6 {
    display: block;
    text-align: center;
}

.register-login a {
    display: block;
    text-align: center;
    padding-bottom: 10px;
}

.register-login a button {
    border-radius: 24px;
    width: 30%;
    height: 40px;
    background: var(--color-celeste);
    border: 2px solid var(--color-azul);
    color: white;
    font-size: 1.1rem;
}

.register-login a button:hover {
    background: var(--color-azul);
}
h6{
    text-align: center;
    font-size: 0.9rem;
}
/* Elimina las flechas en input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 
  -------------------------------------------------------------------FIN REGISTER
  */

/* oculta flechas de input tipo number*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
  }