/* 
VARIABLES
*/
:root{
  --color-marronOscuro: rgb(69,56,39) ;
  --color-crudo: rgb(158,144,123);
  --color-marronClaro: rgb(161,131,88);
  --color-azul: rgb(29,63,84);
  --color-celeste: rgb(88,133,161);
}
/* 
FIN VARIABLES
*/
/* 
GENERALES
*/
*{
  box-sizing: border-box;
  margin: 0;
}
body{
  background-color:palegoldenrod;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
/* 
FIN GENERALES
*/


/* 
INICIO OPCIONES DE USUARIO
*/
header .user{
  background-color: var(--color-crudo);
}
header .user a{
  color: white;
}
/* 
FIN OPCIONES USUARIO
*/

/* 
INICIO BANNER
*/

header .banner{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--color-marronClaro);
}
header .banner a{
  color: white;
}
/* 
LOGO
*/
header .banner .logo img{  
  max-width: 170px;
}

/* 
BARRA DE BUSQUEDA
*/

header .banner .searchbox{
  position: relative;
  align-content: center;
}
header .banner .searchbox form input{  
margin-top: 75px;
width: 100%;
}
header .banner .searchbox form button{
  position: absolute;
  top: 75px;
  right: 15px;
}
/* 
FIN BANNER
*/

/* 
INICIO HEADER
*/
header .favoritos{ 
  display: flex;
  margin-top: 75px;
}

header .navbar{
  background-color: var(--color-marronOscuro);
  height: 30px;
  padding: 1px;
 
}
header .navbar ul{
  justify-content: space-between;
  display: flex;
}
header .navbar li{
  border-right: 1px solid black;
}
header .navbar li:last-child{
  border-right: none;
}
header .navbar li a{
  color: white;
  margin-right:45px;
}
/* 
FIN HEADER
*/

/* 
INICIO FOOTER
*/
footer .background{
  background-color: #666666;
}

footer .col1 .tarjetas ul{
  display: flex;
  padding-left: 0;
}
footer .col1 .tarjetas img{
  max-height: 40px;
}
footer .col1 .nav2 ul li a{
  color: #111;
}
footer .newsletter form input{
  width: 100%;
  position: relative;
}
footer .social .newsletter form button{
  position: absolute;
  background: none;
  border: none;
  right: 20px;
}
footer .social .redes ul{
  flex-wrap: wrap;
  display: flex;
}
footer .social .redes ul img{
  position: relative;
  max-height: 40px;
  left: -40px;
}
footer .social .redes{
margin-top: 100px;
}
footer .info .qr {
margin-left: 50px;
}
footer .info .qr img{
  max-height: 120px;
  margin-left: 50px;
}
footer .info .contacto{
margin-left: 50px;

}
footer .info .contacto ul {
  display: flex;
  margin-left: 30px;
}
footer .info .contacto ul li{
  margin-left:10px;
}
footer .info .contacto ul li a{
  height: 50px;
  color: #111;
  font-size: 30px;
}