/* 
VARIABLES
*/
:root{
  --color-marronOscuro: rgb(69,56,39) ;
  --color-crudo: rgb(158,144,123);
  --color-marronClaro: rgb(161,131,88);
  --color-azul: rgb(29,63,84);
  --color-celeste: rgb(88,133,161);
}
/* 
FIN VARIABLES
*/
/* 
GENERALES
*/
*{
  box-sizing: border-box;
  margin: 0;
}
body{
  background-color:palegoldenrod;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
/* 
FIN GENERALES
*/

/* 
-------------------------------------------------------------------------------------------------------HEADER 
*/

/* 
INICIO OPCIONES DE USUARIO
*/
header .user{
  background-color: var(--color-crudo);
}
header .user a{
  color: white;
}
/* 
FIN OPCIONES USUARIO
*/

/* 
INICIO BANNER
*/

header .banner{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--color-marronClaro);
}
header .banner a{
  color: white;
}
/* 
LOGO
*/
header .banner .logo img{  
  max-width: 170px;
}

/* 
BARRA DE BUSQUEDA
*/

header .banner .searchbox{
  position: relative;
  align-content: center;
}
header .banner .searchbox form input{  
margin-top: 75px;
width: 100%;
}
header .banner .searchbox form button{
  position: absolute;
  top: 75px;
  right: 15px;
}
/* 
FIN BANNER
*/

/* 
INICIO HEADER
*/
header .favoritos{ 
  display: flex;
  margin-top: 75px;
}

header .navbar{
  background-color: var(--color-marronOscuro);
  height: 30px;
  padding: 1px;
 
}
header .navbar ul{
  justify-content: space-between;
  display: flex;
}
header .navbar li{
  border-right: 1px solid black;
}
header .navbar li:last-child{
  border-right: none;
}
header .navbar li a{
  color: white;
  margin-right:45px;
}
/* 
------------------------------------------------------------------------------------------------FIN HEADER
*/

/* 
----------------------------------------------------------------------------------------------------- FOOTER
*/
footer .background{
  background-color: #666666;
}

footer .col1 .tarjetas ul{
  display: flex;
  padding-left: 0;
}
footer .col1 .tarjetas img{
  max-height: 40px;
}
footer .col1 .nav2 ul li a{
  color: #111;
}
footer .newsletter form input{
  width: 100%;
  position: relative;
}
footer .social .newsletter form button{
  position: absolute;
  background: none;
  border: none;
  right: 20px;
}
footer .social .redes ul{
  flex-wrap: wrap;
  display: flex;
}
footer .social .redes ul img{
  position: relative;
  max-height: 40px;
  left: -40px;
}
footer .social .redes{
margin-top: 100px;
}
footer .info .qr {
margin-left: 50px;
}
footer .info .qr img{
  max-height: 120px;
  margin-left: 50px;
}
footer .info .contacto{
margin-left: 50px;

}
footer .info .contacto ul {
  display: flex;
  margin-left: 30px;
}
footer .info .contacto ul li{
  margin-left:10px;
}
footer .info .contacto ul li a{
  height: 50px;
  color: #111;
  font-size: 30px;
}
/* 
------------------------------------------------------------------------------------------------FIN FOOTER
*/

/* 
----------------------------------------------------------------------------------------------------- LOGIN 
*/
.login-logo{
  background-color: var(--color-marronOscuro);
  display: flex;
  justify-content: center;
  border-radius: 15px 15px 0 0 ;
  padding: 0;

}
.login-logo img{
  max-height: 200px;
  margin: 20px;
}
.login-login{
  background-color: var(--color-marronOscuro);
  display: inline;
  justify-content: center;
  color: var(--color-crudo);
}
.login-login input{
  border-radius: 10px;
  width: 100%;
}
.login-login ul{
  padding-left: 0px;
}
.login-login ul li{
  margin-bottom: 10px;
}
.login-login ul li a{
  color: var(--color-crudo);
}
.login-login ul li input.login-remember{
  width: auto;
}
.login-login button{
  border-radius: 10px;
  width: 100%;
}
.login-media{
  background-color: var(--color-marronOscuro);
  color: var(--color-crudo);
}
.login-media img{
  max-height: 75px;
}
.login-media ul{
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding-left: 0px;

}

.login-register{
  background-color: var(--color-marronOscuro);
  color: var(--color-crudo);
  border-radius: 0 0 15px 15px;
}
.login-register ul{
  padding-left: 0px;
}
.login-register button{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}
/* 
---------------------------------------------------------------FIN LOGIN
*/

/* 
---------------------------------------------------------------REGISTER
*/
.register-logo{
  background-color: var(--color-marronOscuro);
  padding: 0;
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: center;
}
.register-logo img{
  max-height: 200px;
  margin: 20px;
}
.register-register{
  background-color: var(--color-marronOscuro);
}
.register-register ul{
  padding: 0;
}
.register-register ul li{
  margin-bottom: 10px;
}
.register-register input{
  width: 100%;
  border-radius: 10px;
}
.register-register button{
  width: 100%;
  border-radius: 10px;
}
.register-media{
  background-color: var(--color-marronOscuro);
  color: var(--color-crudo);
}

.register-media img{
  max-height: 75px;
}
.register-media ul{
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding-left: 0px;
}
.register-login{
  background-color: var(--color-marronOscuro);
  color: var(--color-crudo);
  border-radius: 0 0 15px 15px;
}
.register-login ul{
  padding-left: 0px;
}
.register-login button{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}
/* 
-------------------------------------------------------------------FIN REGISTER
*/