<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head'); %>


    <body>
        <!-- importa header -->
        <%- include('./partials/header'); %>


            <div class="container cart-body">
                <div class="row">
                    <!-- BOTONES DE CARRITO Y GUARDADOS -->

                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="flex">
                            <button class="btn" id="cartBtn">Carrito</button>
                            <button class="btn" id="favBtn">Guardados</button>
                        </div>
                    </div>
                </div>

                <!-- PRODUCTO EN CARRITO -->
                <section class="shopping-cart">
                    <div class="container">
                        <div class="row">
                            <div class="col-5">
                                <div class="shopping-cart-header">
                                    <h6>Producto</h6>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="shopping-cart-header">
                                    <h6 class="text-truncate">Precio</h6>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="shopping-cart-header">
                                    <h6>Cantidad</h6>
                                </div>
                            </div>
                        </div>
                        <!-- ? START SHOPPING CART ITEMS -->
                        <div class="shopping-cart-items shoppingCartItemsContainer">
                        </div>
                        <!-- ? END SHOPPING CART ITEMS -->
            
                        <!-- START TOTAL -->
                        <!-- <div class="row">
                            <div class="col-12">
                                <div class="shopping-cart-total d-flex align-items-center">
                                    <p class="mb-0">Total</p>
                                    <p class="ml-4 mb-0 shoppingCartTotal">0€</p>
                                    <div class="toast ml-auto bg-info" role="alert" aria-live="assertive" aria-atomic="true"
                                        data-delay="2000">
                                        <div class="toast-header">
                                            <span>✅</span>
                                            <strong class="mr-auto ml-1 text-secondary">Elemento en el carrito</strong>
                                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="toast-body text-white">
                                            Se agregó satisfactoriamente al carrito
                                        </div>
                                    </div>
                                    <button class="btn btn-success ml-auto comprarButton" type="button" data-toggle="modal"
                                        data-target="#comprarModal">Comprar</button>
                                </div>
                            </div>
                        </div> -->
            
                        <!-- END TOTAL -->
            
                        <!-- START MODAL COMPRA -->
                        <!-- <div class="modal fade" id="comprarModal" tabindex="-1" aria-labelledby="comprarModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="comprarModalLabel">Datos para el envío</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body"> -->
                                        <!-- ? STRIPE START -->
                                        <!-- <form id="payment-form">
                                            <div class="form-group">
                                                <label for="email-element">Email</label>
                                                <input type="email" class="form-control" id="email-element"
                                                    aria-describedby="emailHelp" placeholder="E-mail">
                                            </div>
                                            <div class="form-group">
                                                <div id="card-element" class="form-control"
                                                    style='height: 2.4em; padding-top: .7em;'> -->
                                                    <!--Stripe.js injects the Card Element-->
                                                <!-- </div>
                                            </div>
                                            <button id="submit" class="btn btn-primary w-100">
                                                <div class="spinner-border text-light hidden" id="spinner" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                                <span id="button-text">Pagar</span>
                                            </button>
                                            <p id="card-error" role="alert"></p>
                                            <p class="result-message hidden">
                                                Pago satisfactorio
                                                ✅
                                                En breve recibirá su pedido
            
                                            </p>
                                        </form> -->
                                        <!-- ? STRIPE END -->
                                    <!-- </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- END MODAL COMPRA -->
            
            
                    </div>
            
                </section>
                    <!-- Fin col-->

                    <div class="col-12 cart-options">
                        <button>Comprar ahora</button>
                        <button>Guardar para más después</button>
                        <button>Eliminar</button>
                    </div>

                </div>
                <hr>
                <!-- Fin Row2-->

<!--               <div class="row cart-cart">
                    <div class="col-12 col-md-12 col-lg-4 cart-envio">
                        <h3>CALCULAR ENVÍO</h3>
                        <h6>Calcula la dirección de envío y el precio estimado</h6>
                        <form action="">
                            <label for="country"> País</label>
                            <br>
                            <select name="country">
                        <option value="0"> Seleccione un país</option>
                        <option value="1"> Argentina</option>
                        <option value="2"> Chile </option>
                        <option value="3"> Paraguay</option>
                        <option value="5"> Uruguay</option>
                        <option value="6"> Perú</option>
                        <option value="7"> Colombia</option>
                        </select>
                            <br>
                            <label for="state"> Estado/Provincia</label>
                            <br>
                            <select name="state">
                        <option value="0">Seleccione un estado o provincia</option>
                        <option value="1">Buenos Aires</option>
                        <option value="">Córdoba</option>
                        <option value="">La Rioja</option>
                        <option value="">Santa Fe</option>
                        <option value="">Corrientes</option>
                        <option value="">Misiones</option>
                    </select>
                            <br>
                            <label for="city">Ciudad</label>
                            <br>
                            <select name="Ciudad">
                        <option value="0">Seleccione una ciudad</option>
                        <option value="1"> Tigre</option>
                        <option value="2"> Tres de Febrero</option>
                        <option value="3"> Zarate</option>
                        <option value="4"> Quilmes</option>
                    </select>
                            <br>
                            <label for="cp">Código Postal</label>
                            <br>
                            <input type="text">
                            <button>Calcular</button>
                        </form>
                    </div>

                    <div class="col-12 col-md-12 col-lg-4 cart-descuentos">
                        <h3>CUPÓN DE DESCUENTO</h3>
                        <h6>Ingrese el código de su cupón si tiene uno</h6>
                        <input type="text" name="" id="">
                        <button>APLICAR CUPÓN</button>
                        <div class="cart-giftcard">
                            <h3>GIFTCARD</h3>
                            <h6>Ingrese el código de su cupón si tiene uno</h6>
                            <input type="text" name="" id="">
                            <button>APLICAR GIFTCARD</button>
                        </div>
                    </div>

                    <div class="col-12 col-md-12 col-lg-4 cart-total">
                        <h3>TOTALES</h3>
                        <ul>
                            <li>
                                <h6>Subtotal</h6>
                            </li>
                            <li>
                                <h6>Envío</h6>
                            </li>
                            <li>
                                <h6>Descuento (Tipo de descuento)</h6>
                            </li>
                        </ul>
                        <h3>TOTAL GENERAL</h3>
                        <button class="cart-finalizar">REALIZAR PEDIDO</button>
                    </div>
                    
                </div>

            </div>
        -->


            <!-- importa footer --> 
            <%- include('./partials/footer') %>

                <!-- scripts de bootstrap-->
                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js " integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI " crossorigin="anonymous "></script>
    </body>

</html>