<!DOCTYPE html>
<html lang="es">

  <%- include('./partials/head'); %>

<body>
    <!-- importa header -->
    <%- include('./partials/header'); %>

    <!-- 
      CONTENIDO 
    -->

    <section class="container">
      <article class="row">
          <!-- COLUMNA 1 -->
          <div class="col-md-2"></div>
          <!-- COLUMNA 2 -->
          <div class="col-12 col-md-8">
              <h1>Cargar de productos</h1>
              <hr>
              <!-- FORMULARIO -->
              <form action="#" get="POST">
                  <!-- CATEGORIAS -->
                  <div class="form-group">
                      <label for="categoria-libro">Categorias</label>
                      <select class="form-control" id="categoria-libro" name="categoria-libro">
                        <option value="terror">terror</option>
                        <option value="cocina">cocina</option>
                        <option value="novela">novela</option>
                      </select>
                  </div>
                  <!-- SECCION -->
                  <div class="form-group">
                    <label for="seccion-libro">Seccion</label>
                    <select class="form-control" id="seccion-libro" name="seccion-libro">
                      <option value="masVendidos">Más vendidos</option>
                      <option value="ultimaVisita">ultima visitaa</option>
                    </select>
                </div>                  
                  <!-- TITULO -->
                  <div class="form-group">
                      <label for="titulo-libro">Titulo</label>
                      <input type="text" class="form-control" id="titulo-libro" name="titulo-libro" placeholder="Agregar un titulo" required>
                  </div>
                  <!-- AUTOR -->
                  <div class="form-group">
                      <label for="autor-libro">Autor</label>
                      <input type="text" class="form-control" id="autor-libro" name="autor-libro" placeholder="Agregar un Autor" required>
                  </div> 
                  <!-- DESCRIPCION DEL PRODUCTO -->
                  <div class="form-group">
                      <label for="descripcion-libro">Descripcion Del producto</label>
                      <textarea class="form-control" id="descripcion-libro" name="descripcion-libro" rows="3" placeholder="Agregar una Descripcion Del producto" required></textarea>
                  </div>
                  <!-- SUBIR IMAGENES -->
                  <div class="form-group">
                      <label for="imagenes-libro">Subir Imagenes</label>
                      <input type="file" class="form-control-file" id="imagenes-libro" name="imagenes-libro">
                  </div>
                  <!-- PRECIO -->
                  <div class="form-group">
                      <label for="precio-libro">Precio</label>
                      <input type="text" class="form-control" id="precio-libro" name="precio-libro" placeholder="Agregar Precio" required>
                  </div>
                  <!-- DESCUENTO -->
                  <div class="form-group">
                    <label for="precio-libro">Descuento</label>
                    <input type="text" class="form-control" id="precio-libro" name="precio-descuento" placeholder="Agregar Descuento" required>
                </div>                  
                  <!-- Boton Enviar -->
                  <button type="submit" class="btn btn-primary mb-2">Guardar</button>
                  <button type="reset" class="btn btn-secondary mb-2 ">Borrar Formulario</button>                     
              </form>
              <!-- FIN FORMULARIO -->
          </div>
          <!-- COLUMNA 3 -->
          <div class="col-md-2"></div>
      <!-- FIN ROW -->    
      </article>
  <!-- FIN CONTAINER -->    
  </section>
        
    <!-- 
      FIN DEL CONTENIDO 
    -->

    <!-- importa footer -->
    <%- include('./partials/footer') %>
  <!-- scripts de bootstrap-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js "
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj "
    crossorigin="anonymous "></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo "
    crossorigin="anonymous "></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js "
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI "
    crossorigin="anonymous "></script>
</body>

</html>