<!DOCTYPE html>
<html lang="es">

  <%- include('./partials/head'); %>

<body>
  <!-- contenido -->
  <%- include('./partials/header'); %>

  <div class="container register-body">
        <div class="row">
          <div class="col-3"></div>
          <div class="col-12 col-md-6 col-lg-6 register-register">
            <ul>
              <li>
                <form action="">
                </li>
                <li>
                  <input type="text" name="name" placeholder="Nombre">
                </li>
                <li>
                  <input type="text" name="lastname" placeholder="Apellido">
                </li>
                <li>
                  <input type="text" name="dni" placeholder="DNI">
                </li>
                <li>
                  <input type="text" name="email" placeholder="Correo Electrónico">
                </li>
                <li>
                  <input type="text" name="password1" placeholder="Contraseña">
                </li>
                <li>
                  <input type="text" name="password2" placeholder="Repita su contraseña">
                </li>
                <li>
                  <button type="submit"> Registrate </button>
                </li>
              </form>
            </ul>
          </div>
          <div class="col-3"></div>
        </div> <!-- FIN ROW 2-->

    <div class="row">
      <div class="col-3"></div>
      <div class="col-12 col-md-6 col-lg-6  register-media">
        <h5>Registrate con:</h5>                                                       <!-- CSS centrar esto-->
        <ul>
          <li><img src="/images/img-twitter.png" alt=""></li>
          <li><img src="/images/img-facebook.png" alt=""></li>
          <li><img src="/images/img-google+.png" alt=""></li>
        </ul>
      </div>
      <div class="col-3"></div>



    </div> <!-- FIN DE ROW 3-->
    <div class="row">
      <div class="col-3"></div>
      <div class="col-12 col-md-6 col-lg-6  register-login">
        <ul>
          <li>
            <h6>¿Ya estas registrado? Ingresa ahora.</h6> 
          </li>
          <li>
            <a href="/user/login"><button >Ingresar</button></a>
          </li>
        </ul>
      </div>
      <div class="col-3"></div>
    </div> <!-- FIN DE ROW 4-->
  </div> <!-- Fin de Container-->

  <%- include('./partials/footer') %>

  <!-- Fin Del Contenido -->

  <!-- scripts de bootstrap-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js "
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj "
    crossorigin="anonymous "></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo "
    crossorigin="anonymous "></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js "
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI "
    crossorigin="anonymous "></script>
</body>

</html>