<!DOCTYPE html>
<html lang="es">

  <%- include('./partials/head'); %>

<body>
  <!-- contenido -->
  <%- include('./partials/header'); %> 

  <div class="container register-body">
        <div class="row">
          <div class="col-3"></div>
          <div class="col-12 col-md-6 col-lg-6 register-register">
              <div>
                <form action="" method="POST" enctype="multipart/form-data">
                </div>
                <div>
                  <input type="text" id="first_name" name="first_name" placeholder="Nombre">
                </div>
                <div>
                  <input type="text" id="last_name" name="last_name" placeholder="Apellido">
                </div>
                <div>
                  <input type="text" id="dni" name="dni" placeholder="DNI">
                </div>
                <div>
                  <input type="text" id="email" name="email" placeholder="Correo lectrónico">
                </div>
                <div>
                  <input type="text" id="emailRepeat" name="emailRepeat" placeholder="Repita su correo electrónico">
                </div>
                <div>
                  <input type="text" id="password" name="password" placeholder="Contraseña">
                </div>
                <div>
                  <input type="text" id="passwordRepeat" name="passwordRepeat" placeholder="Repita su contraseña">
                </div>
                <div>
                  <button type="submit"> Registrate </button>
                </div>
              </form>
          </div>
          <div class="col-3"></div>
        </div> <!-- FIN ROW 2-->

    <div class="row">
      <div class="col-3"></div>
      <div class="col-12 col-md-6 col-lg-6  register-media">
        <h5>Registrate con:</h5>                                                       <!-- CSS centrar esto-->
        <ul>
          <li><img src="/images/img-twitter.png" alt=""></li>
          <li><img src="/images/img-facebook.png" alt=""></li>
          <li><img src="/images/img-google+.png" alt=""></li>
        </ul>
      </div>
      <div class="col-3"></div>



    </div> <!-- FIN DE ROW 3-->
    <div class="row">
      <div class="col-3"></div>
      <div class="col-12 col-md-6 col-lg-6  register-login">
        <ul>
          <li>
            <h6>¿Ya estas registrado? Ingresa ahora.</h6> 
          </li>
          <li>
            <a href="/user/login"><button >Ingresar</button></a>
          </li>
        </ul>
      </div>
      <div class="col-3"></div>
    </div> <!-- FIN DE ROW 4-->
  </div> <!-- Fin de Container-->

  <%- include('./partials/footer') %>

  <!-- Fin Del Contenido -->

  <!-- scripts de bootstrap-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js "
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj "
    crossorigin="anonymous "></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo "
    crossorigin="anonymous "></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js "
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI "
    crossorigin="anonymous "></script>
</body>

</html>